# Porta HTTP da aplicação
PORT=3000

# Endereço do servidor (no docker compose é sobrescrito para "postgres")
DB_HOST=localhost
# Porta do servidor
DB_PORT=5432
# Nome de usuário
DB_USERNAME=usuario
# Senha de usuário
DB_PASSWORD=senha
# Nome do banco de dados
DB_DATABASE=banco_dados

# Se deseja visualizar os logs das execuções SQL
ORM_LOGGING=false
# (Recomendável manter como "false") - Se deseja sincronizar as mudanças das entidades de forma automática no banco de dados.
ORM_SYNCHRONIZE=false
