DB_HOST=localhost             # Endereço do servidor
DB_PORT=5432                  # Porta do servidor
DB_USERNAME=usuario           # Nome de usuário
DB_PASSWORD=senha             # Senha de usuário
DB_DATABASE=banco_dados       # Nome do banco de dados
ORM_LOGGING=false             # Se deseja visualizar os logs das execuções SQL
ORM_SYNCHRONIZE=false         # (Recomendavel manter como "false") - Se deseja sincronizar as mudanças das entidades de forma automatica no banco de dados.
