# Copie para terraform.tfvars (ignorado pelo Git) e ajuste os valores.

aws_region  = "us-east-1"
project     = "reservas"
environment = "dev"
owner       = "Seu Nome"

# Rede
vpc_cidr             = "10.0.0.0/16"
azs                  = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.101.0/24", "10.0.102.0/24"]

# Seu IP público: curl https://checkip.amazonaws.com
allowed_ssh_cidr = "203.0.113.10/32"

# EC2 / API
instance_type = "t2.micro"
key_name      = "vockey"
api_port      = 3000
app_repo_url  = "https://github.com/CaiqueSouzaa/prova-primeiro-bimestre-devops.git"
app_repo_ref  = "main"
app_dir       = "app"

# RDS
db_engine_version = "16.15"
db_instance_class = "db.t3.micro"
db_name           = "reservas"
db_username       = "reservas_admin"
# db_password: deixe comentado para o Terraform gerar uma senha aleatória.
# db_password = "nao-coloque-senha-real-aqui"
